<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('partials/head') %> 

<body>
    <!-- Header -->
    <%- include('partials/header') %> 

    <main class="main-content-home">
        <section class="section-carrousel">
            <div class="carrousel-home">
                <div class="img-carrousel">
                    <i class="fa-solid fa-angle-left"></i>
                    <img src="images/image-mic-carrousel.png" alt="" srcset="">
                    <i class="fa-solid fa-angle-right"></i>
                </div>                
            </div>
        </section>
        <div class="titulo-seccion-home">
            <h2>Destacados del mes</h2>
        </div>
        <section class="section-producto-home">            
            <i class="fa-solid fa-angle-left arrow-carrusel"></i>
            <% for(let i = 0; i < products.length; i++) {%>
                <%if(products[i].destacado) { %>
                    <a href="/products/detalle/<%= products[i].id %>">
                    <article class="producto-destacado-home">
                        <div class="img-producto-destacado">
                            <img src="/images/<%= products[i].imagen %>" alt="">
                        </div>
                        <div class="descripcion-article-home">
                            <div class="titulo-producto">
                                <p><%= products[i].nombre %></p>
                                <div class="valoracion-star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>                        
                        </div>
                    </article>
                </a>
                <% } %>
            <% } %>
            <i class="fa-solid fa-angle-right arrow-carrusel"></i>
        </section>
        <div class="titulo-seccion-home">
            <h2>Nuestras marcas</h2>
        </div>
        <section class="section-carrousel">
            <div class="carrousel-home">
                <div class="img-carrousel">
                    <i class="fa-solid fa-angle-left"></i>
                    <img src="images/image-mic-carrousel.png" alt="" srcset="">
                    <i class="fa-solid fa-angle-right"></i>
                </div>                
            </div>
        </section>
        <div class="titulo-seccion-comentarios">
            <h2>Comentarios</h2>
        </div>
        <section class="section-coment">
            <article class="article-coment">
                <h4>Comentarios de nuestros clientes</h4>
                <div class="coments">
                    <h3>Comentario 1</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae beatae provident ipsa quisquam, vitae similique mollitia necessitatibus laudantium ad ullam qui fuga accusamus deserunt doloribus assumenda sed dicta eius? Iure!</p>
                </div>
            </article>
            <article class="article-coment">
                <h4>Comentarios de nuestros clientes</h4>
                <div class="coments">
                    <h3>Comentario 2</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae beatae provident ipsa quisquam, vitae similique mollitia necessitatibus laudantium ad ullam qui fuga accusamus deserunt doloribus assumenda sed dicta eius? Iure!</p>
                </div>
            </article>
            <article class="article-coment">
                <h4>Comentarios de nuestros clientes</h4>
                <div class="coments">
                    <h3>Comentario 3</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae beatae provident ipsa quisquam, vitae similique mollitia necessitatibus laudantium ad ullam qui fuga accusamus deserunt doloribus assumenda sed dicta eius? Iure!</p>
                </div>
            </article>
        </section>
    </main>
    
    <!-- Footer -->
    <%- include('partials/footer') %>

</body>
</html>