<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('partials/head') %> 

<body>
    <!-- Header -->
    <%- include('partials/header') %> 

    <main class="main-content">
        <section class="filter-section">
            <article class="filtroListador">
                <div>
                    <p>Filtrar por<i class="fa-sharp fa-solid fa-caret-down"></i></p>                       
                </div>
            </article>
        </section>
        <div class="titulo-seccion">
            <h2>Categoria elegida</h2>
        </div>

        <section class="section-producto">
            <% for(let i = 0; i < products.length; i++) {%>
                <a href="/products/detalle/<%= products[i].id %>">
                    <article class="producto">
                        <div class="img-producto">
                            <img src="/images/<%= products[i].imagen %>" alt="">
                        </div>
                        <div class="descripcion-article">
                            <div class="titulo-producto">
                                <p><%= products[i].nombre %></p>
                            </div>
                            <a href="/products/edicion/<%= products[i].id %>" class="icon-edicion"><i class="fa-solid fa-pen"></i></a>
                            <div class="valores-producto">
                                <p>$ <%= products[i].precio %></p>
                            </div>
                        </div>
                    </article>
                </a>
            <% } %>
        </section>
    </main>

        <!-- Footer -->
        <%- include('partials/footer') %>

</body>
</html>