<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('partials/head') %> 
<!-- este html lo edita Hernán Ingrassia -->

<body>

    <!-- Header -->
    <%- include('partials/header') %> 

    <main class="main-profile">
        <div class="title-user-profile">
            <h1>Hola <%= userLogged.nombre %></h1>
        </div>
        <section class="section-profile">            
            <div class="info-user">
            <h1>Tus datos</h1>
                <ul class="ul-info-user">
                    <li>Nombre: "<%= userLogged.nombre %>"</li>
                    <li>Apellido: "<%= userLogged.apellido %>"</li>
                    <li>Email: <%= userLogged.email %></li>
                </ul>                
            </div>
            
                <picture class="section-imgdetail-profile">
                    <img src="/images/users/<%= userLogged.avatar %>" class="imgdetail-profile">
                </picture>
                <a href="/user/edicion/<%= userLogged.id %>" class="icon-edicion"><i class="fa-solid fa-pen"></i></a>
        </section>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>

</body>
</html>
